<olenepal>
<week>7</week>
<grade>2</grade>
<subject>English</subject>
<activityNo>1</activityNo>
<activityTitle>BASIC SOUNDS: PART 1</activityTitle>
<levelActivity>1</levelActivity>

<introduction>
cª\u|]hLsf pRrf/0fx¿ ;'Gg] lj|mofsnfk
 
</introduction>


<excerciseIntro>

5f]6f] ;dodf l:ks/df ;'lgg] pRrf/0f ePsf kfFrcf]6f zAbx¿df lSns u/ M

</excerciseIntro>


<summary> 
!_	cª\u|]hLdf ljleÌ pRrf/0f ug{
@_	zAbdf cfpg] pRrf/0fx¿ lrGg
#_	tL pRrf/0fx¿ ePsf s]xL j:t'x¿ lrGg


</summary>


<help> 

<lessonHelp>
zLif{s M  	*e*BASIC SOUNDS: PART 1*n*

p2]Zo M 	cª\u|]hLsf pRrf/0fx¿ ;xL tl/sfn] ug{ ;Sg'

o;af/] M	kQLdf lSns ub}{ ljleGg pRrf/0fx¿ ;'Gg] lj|mofsnfk

s;/L M 	kf7sf] efudf l:j|mgdf b]lvg] sf8{x¿df kfn}kfnf] lSns ug{'xf];\ / ;DalGwt pRrf/0f ePsf zAbx¿sf] pRrf/0f klg ;'Gg'xf];\ . bfofFkl§sf] l:ks/df lSns ubf{ zAb ;'lgG5 / afofFkl§sf] l:ks/df lSns ubf{ h'g pRrf/0fsf] k|of]u ePsf] 5, ToxL pRrf/0f ;'lgG5 .

</lessonHelp>

<exerciseLevelOneHelp>
zLif{s M  	*e*BASIC SOUNDS: PART 1*n*

p2]Zo M 	cª\u|]hLsf pRrf/0fx¿ ;xL tl/sfn] ug{ ;Sg'

o;af/] M	kQLdf lSns ub}{ ljleGg pRrf/0fx¿ ;'Gg] lj|mofsnfk

s;/L M 	cEof;sf] efudf b]lvg] zAbx¿dWo] kfFrcf]6f zAbdf l:ks/af6 cfpg] pRrf/0f ePsf zAbx¿ 5g\ . l:ks/df lSns ub}{ pRrf/0f ;'Gg'xf];\ / ToxL pRrf/0f ePsf kfFrcf]6f zAbx¿df kfn}kfnf] lSns ug{'xf];\ . kfFrcf]6f zAbdf slt ;doleq lSns ug{'x'G5, To;df klg Wofg k'¥ofpg'xf];\ . hlt ;Sof], Tolt l56f] cEof; l;4Øfpg] k|of; ug{'xf];\ .


</exerciseLevelOneHelp>

<exerciseLevelTwoHelp>
</exerciseLevelTwoHelp>

<exerciseLevelThreeHelp>
</exerciseLevelThreeHelp>
</help>

<OLEgames>
	<lessonGame></lessonGame>
	<levelOneGame> Matching_Game</levelOneGame>
	<levelTwoGame></levelTwoGame>
	<levelThreeGame></levelThreeGame>
</OLEgames>

	
</olenepal>
